dist/
build/
*.egg-info/

__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.c
*.cpp
.pytest_cache/
.mypy_cache/
.ruff_cache/

venv/
env/
.env
.venv/

.vscode/
.idea/

*.log
*.tmp
.DS_Store
Thumbs.db

src/*
storage

!src/*/
!src/Ncore/modules/ncrypto/ncrypto_aes.c