recursive-include src/Ncore *.py *.pyx *.pxd *.h *.json

global-exclude *.c
global-exclude *.cpp
global-exclude *.o
global-exclude *.so
global-exclude *.pyd

prune __pycache__
global-exclude __pycache__/*
global-exclude *.pyc
global-exclude *.pyo