global-include Ncore *.json

global-exclude *.c
global-exclude *.cpp
global-exclude *.h
global-exclude *.hpp
global-exclude *.pyx
global-exclude *.pxd
global-exclude *.so
global-exclude *.pyd
global-exclude *.o